opencv-python~=4.10.0.84
numpy~=2.1.0
typing_extensions~=4.13.2
pillow~=11.0.0
pip~=23.2.1
wheel~=0.45.1
gast~=0.6.0
h5py~=3.13.0
pytz~=2024.2
rich~=14.0.0
Pygments~=2.19.1
requests~=2.32.3
keras~=3.9.2
colorama~=0.4.6
PyYAML~=6.0.2
ml_dtypes~=0.5.1
tensorflow~=2.19.0
optree~=0.15.0
packaging~=24.1
pandas~=2.2.2
namex~=0.0.8
matplotlib~=3.9.2
mdurl~=0.1.2
setuptools~=78.1.0
six~=1.16.0
urllib3~=2.4.0
tqdm~=4.67.1
MarkupSafe~=3.0.2
python-dateutil~=2.9.0.post0
pyzbar~=0.1.9
qrcode~=8.0
django-qrcode~=0.3
certifi~=2025.1.31
Markdown~=3.8
idna~=3.10
kagglehub~=0.3.11
termcolor~=2.5.0
opt_einsum~=3.4.0
flatbuffers~=25.2.10
wrapt~=1.17.2
astunparse~=1.6.3
tensorboard~=2.19.0
Werkzeug~=3.1.3
secure~=1.0.1
playsound~=1.3.0